{% extends "base.html" %}{% load i18n %}
{% block title %}{% translate "Sign in" %}{% endblock %}
{% block content %}
<section class="card card--formulario formulario">
  <h1>{% translate "Sign in" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn--primary btn--bloque">{% translate "Sign in" %}</button>
  </form>
  <p class="campo__ayuda"><a href="{% url 'accounts:registro' %}">{% translate "Create a household" %}</a></p>
</section>
{% endblock %}
